@model List<DiskInventory.Models.Renter>
@{ 
    ViewBag.Title = "Renter Manager";
}
<h1>@ViewBag.Title</h1>

<a asp-controller="Renter" asp-action="Add">Add New Renter</a>
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Renter ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>
            <tbody>
                @foreach (var renter in Model)
                {
                <tr>
                    <td>@renter.RenterId</td>
                    <td>@renter.Lastname</td>
                    <td>@renter.Firstname</td>
                    <td>@renter.PhoneNum</td>
                    <td>
                        <a asp-controller="Renter" asp-action="Edit" asp-route-id="@renter.RenterId">Edit</a>
                        <a asp-controller="Renter" asp-action="Delete" asp-route-id="@renter.RenterId">Delete</a>
                    </td>

                </tr>
                }
            </tbody>
        
    </table>
}
else
{
    <div>No data found.</div>
}

